<?xml version="1.0"?>
<ripple xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ServiceControl</Name>
  <NugetSpecFolder>packaging/nuget</NugetSpecFolder>
  <SourceFolder>src</SourceFolder>
  <BuildCommand>rake</BuildCommand>
  <FastBuildCommand>rake compile</FastBuildCommand>
  <DefaultFloatConstraint>Current</DefaultFloatConstraint>
  <DefaultFixedConstraint>Current,NextMajor</DefaultFixedConstraint>
  <Feeds>
    <Feed Url="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" Mode="Float" Stability="Anything" StabilityConvention="GitFlow" />
    <Feed Url="http://nuget.org/api/v2" Mode="Fixed" Stability="ReleasedOnly" StabilityConvention="None" />
  </Feeds>
  <Nugets>
    <Dependency Name="Autofac" Version="3.1.1" Mode="Fixed" />
    <Dependency Name="Autofac.SignalR" Version="3.0.1" Mode="Fixed" />
    <Dependency Name="log4net" Version="2.0.0" Mode="Fixed" />
    <Dependency Name="Lucene.Net" Version="3.0.3" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.Client" Version="1.1.3" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.Core" Version="1.1.3" Mode="Fixed" />
    <Dependency Name="Microsoft.AspNet.SignalR.Owin" Version="1.1.3" Mode="Fixed" />
    <Dependency Name="Microsoft.Bcl" Version="1.1.3" Mode="Fixed" />
    <Dependency Name="Microsoft.Bcl.Build" Version="1.0.10" Mode="Fixed" />
    <Dependency Name="Microsoft.CompilerServices.AsyncTargetingPack" Version="1.0.1" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.Edm" Version="5.2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Data.OData" Version="5.2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Net.Http" Version="2.2.15" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin" Version="2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Diagnostics" Version="2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Host.HttpListener" Version="2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.Owin.Hosting" Version="2.0.0" Mode="Fixed" />
    <Dependency Name="Microsoft.WindowsAzure.ConfigurationManager" Version="1.8.0.0" Mode="Fixed" />
    <Dependency Name="Nancy" Version="0.20.0" Mode="Fixed" />
    <Dependency Name="Nancy.Bootstrappers.Autofac" Version="0.20.0" Mode="Fixed" />
    <Dependency Name="Nancy.Owin" Version="0.20.0" Mode="Fixed" />
    <Dependency Name="Newtonsoft.Json" Version="5.0.6" Mode="Fixed" />
    <Dependency Name="NLog" Version="2.0.1.2" Mode="Fixed" />
    <Dependency Name="NServiceBus" Version="4.4.0-Unstable0033" Mode="Float" />
    <Dependency Name="NServiceBus.AcceptanceTesting" Version="4.4.0-Unstable0033" Mode="Float" />
    <Dependency Name="NServiceBus.Autofac" Version="4.4.0-Unstable0033" Mode="Float" />
    <Dependency Name="NServiceBus.Azure.Transports.WindowsAzureServiceBus" Version="5.2.0" Mode="Float" />
    <Dependency Name="NServiceBus.Azure.Transports.WindowsAzureStorageQueues" Version="5.2.0" Mode="Float" />
    <Dependency Name="NServiceBus.Host" Version="4.4.0-Unstable0033" Mode="Float" />
    <Dependency Name="NServiceBus.Interfaces" Version="4.4.0-Unstable0033" Mode="Float" />
    <Dependency Name="NServiceBus.PowerShell" Version="4.3.0.0" Mode="Float" />
    <Dependency Name="NServiceBus.RabbitMQ" Version="1.1.0" Mode="Float" />
    <Dependency Name="NServiceBus.RavenDB" Version="0.2.0-Unstable24" Mode="Float" />
    <Dependency Name="NServiceBus.SqlServer" Version="1.2.0" Mode="Float" />
    <Dependency Name="NUnit" Version="2.6.2" Mode="Fixed" />
    <Dependency Name="Owin" Version="1.0" Mode="Fixed" />
    <Dependency Name="Particular.CustomActions" Version="1.1.0" Mode="Float" />
    <Dependency Name="Particular.Licensing.Sources" Version="0.1.0.34" Mode="Float" />
    <Dependency Name="RabbitMQ.Client" Version="3.2.1" Mode="Fixed" />
    <Dependency Name="RavenDB.Client" Version="2.5.2865-Unstable" Mode="Fixed" Stability="Anything" />
    <Dependency Name="RavenDB.Database" Version="2.5.2865-Unstable" Mode="Fixed" Stability="Anything" />
    <Dependency Name="RavenDB.Embedded" Version="2.5.2865-Unstable" Mode="Fixed" Stability="Anything" />
    <Dependency Name="SharpZipLib" Version="0.86.0" Mode="Fixed" />
    <Dependency Name="System.Spatial" Version="5.2.0.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.ServiceBus" Version="2.2.0.0" Mode="Fixed" />
    <Dependency Name="WindowsAzure.Storage" Version="2.1.0.0" Mode="Fixed" />
  </Nugets>
  <Groups />
  <References>
    <IgnoreAssemblies />
  </References>
  <Nuspecs />
</ripple>