.graph-values {
  margin-left: 60px;
  padding-top: 10px;
  border-top: 3px solid #fff;
  margin-top: -8.5px;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
}

.metric-digest-value {
  font-weight: bold;
  font-size: 22px;
}

.metric-digest-value div {
  display: inline-block;
}

.metric-digest-value-suffix {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.metric-digest {
  padding: 1em;
}

.metric-digest-header {
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.current,
.average {
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 4px;
  line-height: 20px;
  height: 19px;
}

.current {
  border-left: 2.5px solid;
}

.average {
  border-left: 1px dashed;
  padding-left: 6px;
}

.graph-area {
  width: 33%;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .graph-area {
    width: 95%;
  }
}
