<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Monitoring/HttpHostname" value="localhost" />
    <add key="Monitoring/HttpPort" value="9999" />
    <add key="Monitoring/LogPath" value="C:\Logs" />
    <add key="Monitoring/TransportType" value="NServiceBus.ServiceControlLearningTransport, ServiceControl.Transports.LearningTransport" />
  </appSettings>
</configuration>