<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <TransportConfig MaximumConcurrencyLevel="10" MaxRetries="3" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="Particular.ServiceControl.Errors" />
</configuration>