<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <!--<add key="ServiceBus/Management/Port" value ="9999"/>-->
    <!--<add key="ServiceBus/Management/VirtualDirectory" value ="Management"/>-->
    <add key="ServiceBus/AuditQueue" value="audit" />
    <add key="ServiceBus/ErrorQueue" value="error" />
    <add key="ServiceBus/Management/Name" value="Particular Management" />
    <add key="ServiceBus/Management/Description" value="Description for Particular Management" />
    <add key="ServiceBus/Management/TransportType" value="NServiceBus.Msmq, NServiceBus.Core" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="cacheSendConnection=true" />
  </connectionStrings>
  <TransportConfig MaximumConcurrencyLevel="10" MaxRetries="3" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="ServiceBus.Management.Errors" />
  <UnicastBusConfig ForwardReceivedMessagesTo="audit">
    <MessageEndpointMappings>
      <!--To register all message types defined in an assembly:
      <add Assembly="assembly" Endpoint="queue@machinename" />
      
      To register all message types defined in an assembly with a specific namespace (it does not include sub namespaces):
      <add Assembly="assembly" Namespace="namespace" Endpoint="queue@machinename" />
      
      To register a specific type in an assembly:
      <add Assembly="assembly" Type="type fullname (http://msdn.microsoft.com/en-us/library/system.type.fullname.aspx)" Endpoint="queue@machinename" />-->
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>