<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <!--<add key="ServiceBus/Management/Port" value ="9999"/>-->
    <!--<add key="ServiceBus/Management/VirtualDirectory" value ="Management"/>-->
    <add key="ServiceBus/AuditQueue" value ="audit"/>
    <add key="ServiceBus/ErrorQueue" value ="error"/>
  </appSettings>
  <TransportConfig MaximumConcurrencyLevel="10" MaxRetries="3"/>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="ServiceBus.Management.Errors" />
</configuration>