<?xml version="1.0" encoding="utf-8"?>
<!--
NOTE: Any settings in this file are not kept as part of packaging ServiceControl for a release.
These settings are only here so that we can debug ServiceControl while developing it.
-->

<configuration>
	<appSettings>
		<add key="ServiceControl.Audit/ServiceControlQueueAddress" value="Particular.ServiceControl" />
		<add key="ServiceControl.Audit/TransportType" value="ServiceControl.Transports.Learning.LearningTransportCustomization, ServiceControl.Transports.Learning" />
		<add key="ServiceControl.Audit/PersistenceType" value="ServiceControl.Audit.Persistence.RavenDb.RavenDbPersistenceConfiguration, ServiceControl.Audit.Persistence.RavenDb" />
		<add key="ServiceControl.Audit/HostName" value="localhost" />
		<add key="ServiceControl.Audit/DatabaseMaintenancePort" value="44444" />
		<add key="ServiceControl/Audit/RavenDb35/RunInMemory" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="NServiceBus/Transport" connectionString="C:\tmp\" />
	</connectionStrings>
	<runtime>
		<gcServer enabled="true" />
	</runtime>
</configuration>
