<?xml version="1.0" encoding="utf-8"?>
<!--
NOTE: Any settings in this file are not kept as part of packaging ServiceControl for a release.
These settings are only here so that we can debug ServiceControl while developing it.
-->

<configuration>
  <appSettings>
    <add key="ServiceControl.Audit/ForwardAuditMessages" value="false" />
    <add key="Raven/Esent/MaxVerPages" value="4096" />
    <add key="ServiceControl.Audit/AuditRetentionPeriod" value="10.00:00:00" />
    <add key="ServiceControl.Audit/ServiceControlQueueAddress" value="Particular.ServiceControl" />
    <add key="ServiceControl.Audit/TransportType" value="ServiceControl.Transports.Learning.LearningTransportCustomization, ServiceControl.Transports.Learning" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="%TEMP%/.learningTransport" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>
