<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Keep these for RootModuleValue API Approval -->
    <add key="ServiceControl/Name" value="testName"/>
    <add key="ServiceControl/Description" value="testDescription" />

    <!-- Keep these for PlatformSample Settings API Approval -->
    <add key="ServiceControl/HostName" value="localhost" />
    <add key="ServiceControl/Port" value="8888" />
    <add key="ServiceControl/MaintenancePort" value="9999" />
    <add key="ServiceControl/LogPath" value="C:\Logs" />
    <add key="ServiceControl/DBPath" value="C:\DB" />
    <add key="ServiceControl/TransportType" value="ServiceControl.Transports.Learning.LearningTransportCustomization, ServiceControl.Transports.Learning" />
    <add key="ServiceControl/ForwardAuditMessages" value="false" />
    <add key="Raven/Esent/MaxVerPages" value="4096" />
    <add key="ServiceControl/AuditRetentionPeriod" value="10.00:00:00" />
    <add key="ServiceControl/ExposeRavenDB" value="false" />
  </appSettings>
</configuration>