Microsoft.AspNet.SignalR.Client
Microsoft.Bcl
Microsoft.Bcl.Build
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Net.Http
Microsoft.Owin.Host.HttpListener
Microsoft.WindowsAzure.ConfigurationManager
Newtonsoft.Json
NLog
NServiceBus
NServiceBus.Azure.Transports.WindowsAzureServiceBus
NServiceBus.Azure.Transports.WindowsAzureStorageQueues
NServiceBus.Interfaces
NServiceBus.RabbitMQ
NServiceBus.SqlServer
NUnit
RabbitMQ.Client
System.Spatial
WindowsAzure.ServiceBus
WindowsAzure.Storage
