.pagination button.active,
.pagination .active > span,
.pagination button.active:hover,
.pagination .active > span:hover,
.pagination button.active:focus,
.pagination .active > span:focus {
  background-color: var(--sp-blue);
  border-color: #ddd;
  color: var(--bs-pagination-active-color);
  outline: none;
  box-shadow: none;
}

.pagination {
  --bs-link-color: #00729c;
  --bs-pagination-font-size: 14px;
}

.pagination {
  margin: 1.5em;
}

.pagination > li > button:hover,
.pagination > li > span:hover,
.pagination > li > button:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #ddd;
  outline: none;
  box-shadow: none;
}

.pagination .dropdown button:hover {
  background: none;
  border: none;
  color: var(--sp-blue);
  text-decoration: underline;
}
