<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuditGenerator/TransportCustomization" value="ServiceControl.Transports.Learning.LearningTransportCustomization, ServiceControl.Transports.Learning"/>
    <add key="AuditGenerator/TransportConnectionString" value="C:\tmp\"/>
  </appSettings>
</configuration>