<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.8" targetFramework="net40" />
  <package id="GitVersionTask" version="3.6.5" targetFramework="net40" developmentDependency="true" />
  <package id="Packaging.ServiceControl.Monitoring" version="1.2.1" targetFramework="net40" />
  <package id="Particular.Licensing.Sources" version="1.0.0" targetFramework="net40" />
</packages>
