<?xml version="1.0" encoding="utf-8"?>
<!--
NOTE: Any settings in this file are not kept as part of packaging ServiceControl for a release.
These settings are only here so that we can debug ServiceControl while developing it.
-->
<configuration>
  <appSettings>
    <add key="ServiceControl/ForwardErrorMessages" value="false" />
    <add key="ServiceControl/ErrorRetentionPeriod" value="10.00:00:00" />
    <add key="ServiceControl/RemoteInstances" value="[]" />
    <add key="ServiceControl/HostName" value="localhost" />
    <add key="ServiceControl/DatabaseMaintenancePort" value="33334" />
    <add key="ServiceControl/AllowMessageEditing" value="true" />

    <!-- DEVS - Pick a transport to run Primary instance on -->
    <add key="ServiceControl/TransportType" value="LearningTransport" />
    <!--<add key="ServiceControl/TransportType" value="AmazonSQS" />-->
    <!--<add key="ServiceControl/TransportType" value="AzureStorageQueue" />-->
    <!--<add key="ServiceControl/TransportType" value="MSMQ" />-->
    <!--<add key="ServiceControl/TransportType" value="NetStandardAzureServiceBus" />-->
    <!--<add key="ServiceControl/TransportType" value="PostgreSQL" />-->
    <!--<add key="ServiceControl/TransportType" value="RabbitMQ.QuorumConventionalRouting" />-->
    <!--<add key="ServiceControl/TransportType" value="SQLServer" />-->

    <add key="ServiceControl/PersistenceType" value="RavenDB" />

	  <!-- options are any comma separated combination of NLog,Seq,Otlp -->
	  <add key="ServiceControl/LoggingProviders" value="NLog,Seq"/>
	  <add key="ServiceControl/SeqAddress" value="http://localhost:5341"/>

    <!-- Authentication Settings (JWT with OpenID Connect) -->
    <!-- Uncomment and configure to enable authentication -->
    <!-- Leaving 'Authentication.Enabled' commented out defaults authentication to 'false'-->
    <!-- <add key="ServiceControl/Authentication.Enabled" value="false" />
    <add key="ServiceControl/Authentication.Authority" value="" />
    <add key="ServiceControl/Authentication.Audience" value="" /> -->
    <!-- Optional Authentication Settings (defaults shown) -->
    <!--<add key="ServiceControl/Authentication.ValidateIssuer" value="true" />
    <add key="ServiceControl/Authentication.ValidateAudience" value="true" />
    <add key="ServiceControl/Authentication.ValidateLifetime" value="true" />
    <add key="ServiceControl/Authentication.ValidateIssuerSigningKey" value="true" />
    <add key="ServiceControl/Authentication.RequireHttpsMetadata" value="true" />-->

    <!-- ServicePulse Authentication Settings -->
    <!--<add key="ServiceControl/Authentication.ServicePulse.ClientId" value="" />
    <add key="ServiceControl/Authentication.ServicePulse.Authority" value="" />
    <add key="ServiceControl/Authentication.ServicePulse.Audience" value="" />
    <add key="ServiceControl/Authentication.ServicePulse.ApiScopes" value="" />-->
  </appSettings>
  <connectionStrings>
    <!-- DEVS - Pick a transport connection string to match chosen transport above -->

    <!-- Learning -->
    <!-- If the LearningTransport connectionString is empty, it will default to the solution directory when running/debugging from the IDE -->
    <add name="NServiceBus/Transport" connectionString="" />

    <!--Amazon SQS -->
    <!--<add name="NServiceBus/Transport" connectionString="Region=;QueueNamePrefix=;TopicNamePrefix=;AccessKeyId=;SecretAccessKey=;S3BucketForLargeMessages=;S3KeyPrefix=" />-->

    <!--AzureStorageQueue -->
    <!--<add name="NServiceBus/Transport" connectionString="DefaultEndpointsProtocol=[http|https];AccountName=;AccountKey=;Subscriptions Table=tablename" />-->

    <!--MSMQ -->
    <!--<add name="NServiceBus/Transport" connectionString="" />-->

    <!--NetStandardAzureServiceBus -->
    <!--<add name="NServiceBus/Transport" connectionString="Endpoint=sb://[namespace].servicebus.windows.net; SharedSecretIssuer=;SharedSecretValue=;QueueLengthQueryDelayInterval=;TopicName=default-is-bundle-1" />-->

    <!--PostgreSQL -->
    <!--<add name="NServiceBus/Transport" connectionString="Server=;Database=nservicebus;Port=5432;User Id=;Password=" />-->

    <!--RabbitMQ.QuorumConventionalRouting -->
    <!--<add name="NServiceBus/Transport" connectionString="host=;username=;password=" />-->

    <!--SQLServer -->
    <!--<add name="NServiceBus/Transport" connectionString="Data Source=;Initial Catalog=nservicebus;Integrated Security=True;Queue Schema=myschema;Subscriptions Table=tablename@schema@catalog" />-->
  </connectionStrings>
</configuration>