Autofac
Autofac.SignalR
Lucene.Net
Microsoft.AspNet.SignalR.Core
Microsoft.AspNet.SignalR.Owin
Microsoft.Owin
Microsoft.Owin.Diagnostics
Microsoft.Owin.Host.HttpListener
Microsoft.Owin.Hosting
Nancy
Nancy.Bootstrappers.Autofac
Nancy.Owin
Newtonsoft.Json
NLog
NServiceBus
NServiceBus.Autofac
NServiceBus.Host
NServiceBus.Interfaces
Owin
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
SharpZipLib
T4Scaffolding.Core
