.license-info[data-v-2eadd4f4]{font-size:16px;padding:2em;line-height:3em}.license-install-info li[data-v-2eadd4f4]{line-height:1em}.need-help[data-v-2eadd4f4]{margin-top:38px;padding-top:20px;border-top:2px solid #f2f2f2}
