<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="6.0.0-unstable1448" targetFramework="net452" />
  <package id="NServiceBus.Host" version="6.0.0" targetFramework="net45" />
  <package id="ServiceControl.Contracts" version="1.1.1" targetFramework="net45" />
</packages>