<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Settings has no default for these two and throws without them -->
    <add key="ServiceControl/ForwardErrorMessages" value="false" />
    <add key="ServiceControl/ErrorRetentionPeriod" value="10.00:00:00" />
  </appSettings>
</configuration>
