[*.cs]

# Justification: Application synchronization contexts don't require ConfigureAwait(false)
dotnet_diagnostic.CA2007.severity = none

# Use auto property - should be fixed in an independent PR
dotnet_diagnostic.IDE0032.severity = suggestion
