[*.cs]

# Justification: release branch
dotnet_diagnostic.CA1711.severity = none

# Justification: Application synchronization contexts don't require ConfigureAwait(false)
dotnet_diagnostic.CA2007.severity = none
