<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="NServiceBus" version="7.0.1" targetFramework="net452" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureServiceBus" version="8.1.0-more0001" targetFramework="net452" />
  <package id="NServiceBus.CustomChecks" version="3.0.0" targetFramework="net452" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.1.0" targetFramework="net452" />
  <package id="NServiceBus.Raw" version="3.0.0" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="4.1.11" targetFramework="net452" />
</packages>