:root {
  --bs-link-color: #9d9d9d;
  --bs-link-hover-color: #fff;
}

.navbar {
  height: 60px;
  flex-wrap: nowrap;
}

.navbar-inverse {
  background-color: #1a1a1a;
}

.navbar > .navbar-right {
  margin-right: -15px;
}

.navbar-brand {
  height: 60px;
  padding-bottom: 9px;
  padding-top: 10px;
}

.navbar-brand img {
  width: 160px;
  margin-left: 3px;
}

.navbar-nav > li > a > span {
  margin-left: 8px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: var(--bs-link-color);
  text-decoration: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
}

.navbar-nav > li > a > span.no-margin {
  margin: 0;
}

.nav > li > a .navbar-toggle {
  margin-top: 13px;
}

.navbar a {
  font-weight: normal;
  text-decoration: none;
}

.navbar a:hover {
  font-weight: normal;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
}

.label-important,
.badge-important {
  background-color: #fa603d;
  border-color: #fa5833;
}

@media (min-width: 768px) {
  .navbar-nav > li.active > a {
    background: transparent !important;
    border-bottom: 5px solid var(--sp-blue);
  }

  .navbar-nav > li > a {
    padding-bottom: 15px;
    padding-top: 20px;
  }

  .graph-values .col-sm-6 {
    width: 45%;
  }
}

@media only screen and (min-width: 1072px) {
  .navbar-label {
    display: inline;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-collapse.collapse.in {
    padding: 0 0 0 16px !important;
  }
}

@media (max-width: 1199px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  .navbar-collapse.collapse.in {
    display: block !important;
    padding: 0 32px 16px 32px;
  }

  .collapsing {
    overflow: hidden !important;
  }
}

@media (max-width: 1450px) {
  .navbar-label {
    display: none;
  }

  .nav > li > a .icon-white {
    color: #929e9e;
  }

  .nav > li > a:hover .icon-white,
  .nav > li > a:focus .icon-white {
    color: #fff;
  }

  .nav > li > a:hover .pa-monitoring,
  .nav > li > a:focus .pa-monitoring {
    background-color: #fff;
  }
}

@media (max-width: 1439px) {
  nav.navbar {
    position: sticky;
  }

  div.navbar-header {
    float: left;
  }

  ul.navbar-nav {
    margin: 0 8px 0 0;
    display: block;
  }

  .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 17px;
  }

  .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar-nav > li,
  .navbar-nav {
    float: left !important;
    height: 59px;
  }

  .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
  }

  .navbar-right {
    float: right !important;
  }

  .navbar-nav > li.active > a {
    background: transparent !important;
    border-bottom: 5px solid var(--sp-blue) !important;
  }

  .tabs h5 {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

@media (max-width: 1439px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  nav.navbar {
    margin-top: 0;
  }
}

/* TODO move this to the page/control that it's used in*/
.pa-monitoring {
  mask-image: url("@/assets/monitoring.svg");
  background-color: #929e9e;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
  position: relative;
  top: 2px;
}
