<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring/HttpHostname" value="localhost" />
    <add key="Monitoring/HttpPort" value="33633" />
    <add key="Monitoring/TransportType" value="ServiceControl.Transports.RabbitMQ.ConventialRoutingTopologyRabbitMQTransport, ServiceControl.Transports.RabbitMQ" />
    <add key="Monitoring/ErrorQueue" value="error" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
  </connectionStrings>
</configuration>
