name: Cleanup GitHub Container Registry
on:
  schedule:
    - cron: "0 0 * * *" # Midnight UTC daily
  workflow_dispatch:
jobs:
  clean:
    name: Delete unused containers
    runs-on: ubuntu-latest
    steps:
      - name: Clean up images
        uses: snok/container-retention-policy@v3.0.1
        with:
          image-names: servicecontrol servicecontrol-audit servicecontrol-monitoring servicecontrol-ravendb
          image-tags: pr-*, *-alpha.*
          tag-selection: both
          cut-off: 2w
          timestamp-to-use: updated_at
          account: particular
          token: ${{ secrets.GITHUB_TOKEN }}
          dry-run: false